* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
    font-weight: 800;
    src: url('../fonts/fjallaone-regular-webfont.woff2') format('woff2'),
         url('../fonts/fjallaone-regular-webfont.woff') format('woff');
}


body {
    margin: 30px 0px;
    padding: 0px;
    background-color: #CCC;
    font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container {
    height: 800px;
    width: 600px;
    background-color: dodgerblue;
}

.ul-list {
    display: flex;
    padding-inline: 25px;
    flex-direction: column;
    align-items:stretch;
    justify-content: space-evenly;
    list-style: none;
}

li {
    background-color: #FFFFFF;
    height: 42px;
    font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
    margin: 5px;
    text-align: center;
    font-size: 24px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0px 10px;
}

input {
    font-size: 24px;
    height: 40px;
    width: 300px;
    border: 1px solid #888;
}

 .btn-onscreen {
    font-size: 25px;
    padding: 6px;
    width: 250px;
    position: relative;
    margin-left: 30px;
    background-color: dodgerblue;
    border: 2px solid #555;
    color: #fff;
}

.btn-onscreen:hover {
    background-color: #fff;
    color: #222;
    border: 2px solid #333;
}

li button {
    font-size: 22px;
    padding: 5px;
    position: relative;
    float: right;
}
